<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div id="header">
            <div class="container">
                <h1>
                    John Jensen
                </h1>
                <div id="quote">
                    <i>
                    "To hell with circumstances; I create opportunities." - Bruce Lee
                    </i>
                </div>
            </div>
        </div>
        <div id="main" class="container">

            <nav>
                <a href="/">Home</a>
                <a href="/photos.html">Photos</a>
                <br clear="all"/>
            </nav>

            {{ content }}
            <br clear="all"/>
        </div>
        <div id="footer">
            <div class="container">
                 &#169; John Jensen
            </div>
        </div>
    </body>
</html>
