<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div id="header">
            <div class="container">
                <h1>
                    upperlakespawn's site
                </h1>
            </div>
        </div>
        <div id="main" class="container">
            {{ content }}
        </div>
        <div id="footer" class="container">
            <p>upperlakespawn</p>
        </div>
    </body>
</html>
